.changing-product{
	text-align: center;
	border: solid 3px #000;
	border-radius: 5px;
	font-size: 18px;
	overflow: hidden;
	color: #fff;
	line-height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	margin: 0 auto;
	padding: 10px;
	position: relative;
}